In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

In [3]:
tf.__version__

'2.3.1'

In [4]:
churnData= pd.read_csv('./ltfc/churn_modelling.csv')
churnData

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
y = churnData.pop('Exited')

In [6]:
X= churnData.copy()

In [7]:
geography =pd.get_dummies(X['Geography'], drop_first = True)
gender = pd.get_dummies(X['Gender'], drop_first = True)

In [8]:
pd.concat([X,geography,gender], axis=1)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [9]:
X.drop(
    axis=1,
    columns=['RowNumber', 'CustomerId', 'Surname'],
    level=None,
    inplace=True,
)

In [10]:
X.drop([ 'Geography','Gender'], axis=1, inplace=True)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size =0.2, random_state= 2)

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# ANN

In [102]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU, ELU, Activation, Embedding, BatchNormalization
from tensorflow.keras.layers import Dropout

In [15]:
classifier = Sequential()

In [16]:
classifier.add(tf.keras.Input(shape=(8,)))

In [17]:
classifier.add(Dense(units=20, kernel_initializer= 'he_uniform', activation='relu'))

In [18]:
classifier.add(Dropout(0.4))

In [19]:
classifier.add(Dense(units=15, kernel_initializer= 'he_uniform', activation='relu'))

In [20]:
classifier.add(Dropout(0.3))

In [21]:
classifier.add(Dense(units=10, kernel_initializer= 'he_uniform', activation='relu'))

In [22]:
classifier.add(Dropout(0.1))

In [23]:
classifier.add(Dense(units=1, kernel_initializer= 'glorot_uniform', activation='sigmoid'))

In [24]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 20)                180
_________________________________________________________________
dropout (Dropout)            (None, 20)                0
_________________________________________________________________
dense_1 (Dense)              (None, 15)                315
_________________________________________________________________
dropout_1 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                160
_________________________________________________________________
dropout_2 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 666
Trainable params: 666
Non-trainable params: 0
_________________________________________________________________

In [25]:
classifier.compile(optimizer='adam',
    loss='binary_crossentropy',
    metrics='accuracy')

In [26]:
model_history = classifier.fit(X_train,y_train,validation_split=0.2,batch_size=10, epochs=100)

Epoch 1/100
640/640 [==============================] - 2s 2ms/step - loss: 0.5919 - accuracy: 0.7398 - val_loss: 0.4804 - val_accuracy: 0.8062
Epoch 2/100
640/640 [==============================] - 1s 2ms/step - loss: 0.5154 - accuracy: 0.7845 - val_loss: 0.4640 - val_accuracy: 0.8062
Epoch 3/100
640/640 [==============================] - 1s 2ms/step - loss: 0.5065 - accuracy: 0.7872 - val_loss: 0.4501 - val_accuracy: 0.8062
Epoch 4/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4843 - accuracy: 0.7942 - val_loss: 0.4344 - val_accuracy: 0.8081
Epoch 5/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4683 - accuracy: 0.7972 - val_loss: 0.4258 - val_accuracy: 0.8100
Epoch 6/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4675 - accuracy: 0.7966 - val_loss: 0.4168 - val_accuracy: 0.8119
Epoch 7/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4616 - accuracy: 0.8050 - val_loss: 0.4200 - val_accuracy: 0.8138
Epoch 8/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4564 - accuracy: 0.8056 - val_loss: 0.4071 - val_accuracy: 0.8225
Epoch 9/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4525 - accuracy: 0.8053 - val_loss: 0.4041 - val_accuracy: 0.8306
Epoch 10/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4479 - accuracy: 0.8091 - val_loss: 0.3907 - val_accuracy: 0.8406
Epoch 11/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4434 - accuracy: 0.8116 - val_loss: 0.3960 - val_accuracy: 0.8462
Epoch 12/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4393 - accuracy: 0.8145 - val_loss: 0.3844 - val_accuracy: 0.8481
Epoch 13/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4319 - accuracy: 0.8163 - val_loss: 0.3807 - val_accuracy: 0.8556
Epoch 14/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.8209 - val_loss: 0.3742 - val_accuracy: 0.8537
Epoch 15/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4202 - accuracy: 0.8244 - val_loss: 0.3747 - val_accuracy: 0.8556
Epoch 16/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4135 - accuracy: 0.8269 - val_loss: 0.3683 - val_accuracy: 0.8569
Epoch 17/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4093 - accuracy: 0.8295 - val_loss: 0.3641 - val_accuracy: 0.8581
Epoch 18/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8302 - val_loss: 0.3616 - val_accuracy: 0.8587
Epoch 19/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4152 - accuracy: 0.8267 - val_loss: 0.3606 - val_accuracy: 0.8569
Epoch 20/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4042 - accuracy: 0.8330 - val_loss: 0.3598 - val_accuracy: 0.8587
Epoch 21/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3991 - accuracy: 0.8370 - val_loss: 0.3571 - val_accuracy: 0.8587
Epoch 22/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8331 - val_loss: 0.3599 - val_accuracy: 0.8606
Epoch 23/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4039 - accuracy: 0.8327 - val_loss: 0.3613 - val_accuracy: 0.8625
Epoch 24/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3975 - accuracy: 0.8333 - val_loss: 0.3586 - val_accuracy: 0.8612
Epoch 25/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4026 - accuracy: 0.8291 - val_loss: 0.3557 - val_accuracy: 0.8569
Epoch 26/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3927 - accuracy: 0.8369 - val_loss: 0.3531 - val_accuracy: 0.8612
Epoch 27/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3983 - accuracy: 0.8378 - val_loss: 0.3583 - val_accuracy: 0.8581
Epoch 28/100
640/640 [==============================] - 1s 2ms/step - loss: 0.4035 - accuracy: 0.8366 - val_loss: 0.3577 - val_accuracy: 0.8600
Epoch 29/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3938 - accuracy: 0.8370 - val_loss: 0.3513 - val_accuracy: 0.8581
Epoch 30/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3936 - accuracy: 0.8409 - val_loss: 0.3553 - val_accuracy: 0.8612
Epoch 31/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3902 - accuracy: 0.8384 - val_loss: 0.3561 - val_accuracy: 0.8606
Epoch 32/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3934 - accuracy: 0.8381 - val_loss: 0.3545 - val_accuracy: 0.8631
Epoch 33/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3944 - accuracy: 0.8356 - val_loss: 0.3585 - val_accuracy: 0.8594
Epoch 34/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3943 - accuracy: 0.8370 - val_loss: 0.3495 - val_accuracy: 0.8637
Epoch 35/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3891 - accuracy: 0.8414 - val_loss: 0.3515 - val_accuracy: 0.8631
Epoch 36/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3938 - accuracy: 0.8400 - val_loss: 0.3553 - val_accuracy: 0.8631
Epoch 37/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3874 - accuracy: 0.8397 - val_loss: 0.3529 - val_accuracy: 0.8606
Epoch 38/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3897 - accuracy: 0.8378 - val_loss: 0.3529 - val_accuracy: 0.8625
Epoch 39/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3860 - accuracy: 0.8392 - val_loss: 0.3498 - val_accuracy: 0.8625
Epoch 40/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3852 - accuracy: 0.8423 - val_loss: 0.3491 - val_accuracy: 0.8631
Epoch 41/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3862 - accuracy: 0.8416 - val_loss: 0.3503 - val_accuracy: 0.8650
Epoch 42/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3857 - accuracy: 0.8395 - val_loss: 0.3472 - val_accuracy: 0.8631
Epoch 43/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3839 - accuracy: 0.8389 - val_loss: 0.3504 - val_accuracy: 0.8644
Epoch 44/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3863 - accuracy: 0.8400 - val_loss: 0.3462 - val_accuracy: 0.8625
Epoch 45/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3842 - accuracy: 0.8405 - val_loss: 0.3510 - val_accuracy: 0.8606
Epoch 46/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3875 - accuracy: 0.8364 - val_loss: 0.3518 - val_accuracy: 0.8631
Epoch 47/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3832 - accuracy: 0.8425 - val_loss: 0.3494 - val_accuracy: 0.8644
Epoch 48/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3891 - accuracy: 0.8377 - val_loss: 0.3491 - val_accuracy: 0.8656
Epoch 49/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3803 - accuracy: 0.8448 - val_loss: 0.3491 - val_accuracy: 0.8650
Epoch 50/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3840 - accuracy: 0.8403 - val_loss: 0.3492 - val_accuracy: 0.8637
Epoch 51/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3796 - accuracy: 0.8441 - val_loss: 0.3498 - val_accuracy: 0.8606
Epoch 52/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3849 - accuracy: 0.8414 - val_loss: 0.3514 - val_accuracy: 0.8619
Epoch 53/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3755 - accuracy: 0.8430 - val_loss: 0.3519 - val_accuracy: 0.8625
Epoch 54/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3777 - accuracy: 0.8467 - val_loss: 0.3513 - val_accuracy: 0.8631
Epoch 55/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3815 - accuracy: 0.8416 - val_loss: 0.3523 - val_accuracy: 0.8644
Epoch 56/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3836 - accuracy: 0.8447 - val_loss: 0.3514 - val_accuracy: 0.8650
Epoch 57/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3748 - accuracy: 0.8428 - val_loss: 0.3501 - val_accuracy: 0.8587

Epoch 58/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3786 - accuracy: 0.8447 - val_loss: 0.3516 - val_accuracy: 0.8637
Epoch 59/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3813 - accuracy: 0.8438 - val_loss: 0.3522 - val_accuracy: 0.8637
Epoch 60/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3798 - accuracy: 0.8420 - val_loss: 0.3499 - val_accuracy: 0.8631
Epoch 61/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3788 - accuracy: 0.8428 - val_loss: 0.3505 - val_accuracy: 0.8637
Epoch 62/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3734 - accuracy: 0.8461 - val_loss: 0.3466 - val_accuracy: 0.8600
Epoch 63/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3804 - accuracy: 0.8398 - val_loss: 0.3528 - val_accuracy: 0.8637
Epoch 64/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3789 - accuracy: 0.8428 - val_loss: 0.3484 - val_accuracy: 0.8637
Epoch 65/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3815 - accuracy: 0.8439 - val_loss: 0.3482 - val_accuracy: 0.8662
Epoch 66/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3772 - accuracy: 0.8445 - val_loss: 0.3517 - val_accuracy: 0.8644
Epoch 67/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3785 - accuracy: 0.8439 - val_loss: 0.3491 - val_accuracy: 0.8625
Epoch 68/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3743 - accuracy: 0.8442 - val_loss: 0.3492 - val_accuracy: 0.8631
Epoch 69/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3782 - accuracy: 0.8447 - val_loss: 0.3480 - val_accuracy: 0.8612
Epoch 70/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3744 - accuracy: 0.8461 - val_loss: 0.3507 - val_accuracy: 0.8625
Epoch 71/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3701 - accuracy: 0.8478 - val_loss: 0.3486 - val_accuracy: 0.8625
Epoch 72/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3761 - accuracy: 0.8414 - val_loss: 0.3477 - val_accuracy: 0.8631
Epoch 73/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3746 - accuracy: 0.8448 - val_loss: 0.3481 - val_accuracy: 0.8637
Epoch 74/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3768 - accuracy: 0.8428 - val_loss: 0.3474 - val_accuracy: 0.8644
Epoch 75/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3729 - accuracy: 0.8452 - val_loss: 0.3517 - val_accuracy: 0.8612
Epoch 76/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3756 - accuracy: 0.8431 - val_loss: 0.3456 - val_accuracy: 0.8606
Epoch 77/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3775 - accuracy: 0.8425 - val_loss: 0.3472 - val_accuracy: 0.8631
Epoch 78/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3740 - accuracy: 0.8487 - val_loss: 0.3472 - val_accuracy: 0.8625
Epoch 79/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3749 - accuracy: 0.8422 - val_loss: 0.3504 - val_accuracy: 0.8606
Epoch 80/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3752 - accuracy: 0.8433 - val_loss: 0.3485 - val_accuracy: 0.8619
Epoch 81/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3726 - accuracy: 0.8481 - val_loss: 0.3452 - val_accuracy: 0.8606
Epoch 82/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3731 - accuracy: 0.8478 - val_loss: 0.3466 - val_accuracy: 0.8619
Epoch 83/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3757 - accuracy: 0.8481 - val_loss: 0.3455 - val_accuracy: 0.8594
Epoch 84/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3756 - accuracy: 0.8467 - val_loss: 0.3488 - val_accuracy: 0.8644
Epoch 85/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3769 - accuracy: 0.8461 - val_loss: 0.3459 - val_accuracy: 0.8612
Epoch 86/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3734 - accuracy: 0.8462 - val_loss: 0.3446 - val_accuracy: 0.8625
Epoch 87/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3694 - accuracy: 0.8466 - val_loss: 0.3442 - val_accuracy: 0.8600
Epoch 88/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3700 - accuracy: 0.8444 - val_loss: 0.3424 - val_accuracy: 0.8587
Epoch 89/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3716 - accuracy: 0.8475 - val_loss: 0.3479 - val_accuracy: 0.8644
Epoch 90/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3760 - accuracy: 0.8473 - val_loss: 0.3460 - val_accuracy: 0.8637
Epoch 91/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3728 - accuracy: 0.8459 - val_loss: 0.3451 - val_accuracy: 0.8637
Epoch 92/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3761 - accuracy: 0.8448 - val_loss: 0.3482 - val_accuracy: 0.8637
Epoch 93/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3734 - accuracy: 0.8469 - val_loss: 0.3432 - val_accuracy: 0.8637
Epoch 94/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3733 - accuracy: 0.8452 - val_loss: 0.3461 - val_accuracy: 0.8644
Epoch 95/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3696 - accuracy: 0.8470 - val_loss: 0.3439 - val_accuracy: 0.8656
Epoch 96/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3736 - accuracy: 0.8462 - val_loss: 0.3436 - val_accuracy: 0.8650
Epoch 97/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3729 - accuracy: 0.8455 - val_loss: 0.3459 - val_accuracy: 0.8631
Epoch 98/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3730 - accuracy: 0.8444 - val_loss: 0.3441 - val_accuracy: 0.8644
Epoch 99/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3700 - accuracy: 0.8478 - val_loss: 0.3458 - val_accuracy: 0.8631
Epoch 100/100
640/640 [==============================] - 1s 2ms/step - loss: 0.3741 - accuracy: 0.8477 - val_loss: 0.3441 - val_accuracy: 0.8625

In [27]:
y_pred =classifier.predict(X_test)

In [28]:
y_pred = (y_pred> 0.7)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [29]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [30]:
cm

array([[1613,    4],
       [ 314,   69]], dtype=int64)

In [31]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred, y_test)

In [32]:
score

0.841

In [95]:
salary = pd.DataFrame(X_test[:,7])

In [96]:
exit_pred = pd.DataFrame(y_pred)

In [97]:
finalCSV = pd.concat([salary,exit_pred], axis=1)

In [99]:
finalCSV.columns = ['Salary', 'Exited']

In [101]:
finalCSV.to_csv('./ltfc/ANN_test_Csv.csv')

__________________DONE-SIMPLE-ANN____________________